html {
  font-size: 10px;
  /*font-family: "Roboto", sans-serif;*/
  font-family: 'PT Serif', serif;
}

h1 {
  font-size: 60px;
  text-align: left;
}

h2 {
  font-size: 30px;
  text-align: left; 
}

.navli {
  font-size: 40px; 
  display: inline;
  padding: 14px 16px;
}

p,
li {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  /*letter-spacing: 1px;*/
}

a {
  color: #2c82f1;
  font-weight: 500;
  text-decoration: none;
}

.emoji-like-img {
  width: 17px;
  display: inline-block;
  vertical-align: middle;
}

#footer {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  /*letter-spacing: 1px;*/
}

/*colouring and sizing -->*/

html {
  background-color: #ffffff;
}

#navbar {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  width: 960px;
  margin: 0 auto;
  /*background-color: #FF9500*/
  padding: 0 20px 40px 20px;
  /*border: 5px solid black;*/
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: black;
  /*text-shadow: 3px 3px 1px black;*/
}

#footer {
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

footer {
  padding-top: 10px;
}

#pfp {
  width: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
}

img {
  display: block;
  margin: 0 auto;
}

.column {
  float: left;
}

.left {
  width: 25%;
  padding-right: 20px;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

/* Allow screen responsiveness when browser is resized */
@media screen and (max-width : 1000px) {
  .column {
    width: 100%;
  }

  /* resized view should show centered header */
  h1 {
    text-align: center; 
  }

  body {
    width: 100%;
    margin: 0 auto;
  }
}
