@font-face {
  font-family: "Kollektif";
  src: url('/assets/fonts/Kollektif.eot');
  src: url('/assets/fonts/Kollektif.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Kollektif.woff2') format('woff2'),
       url('/assets/fonts/Kollektif.woff') format('woff'),
       url('/assets/fonts/Kollektif.ttf') format('truetype'),
       url('/assets/fonts/Kollektif.svg#kollektifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}